header{
	width: *;
	height: 250 px;
background-color: #e1bee7;
display: flex;	
}
header .logo{
	flex:1;
	order:1;
	width:150px;
	height:150px;

}
header h1{
	flex:3;
	order:2;
text-align: center;
font-size: 50px
font-style: italic;
color: #7b1fa2;
}
header nav{
	flex:2;
	order:3;
	text-align: right;
	font-size:30px;

}
.items{
	
	text-align: left;
	
}
table{
	width: 100%;
}
 
th,td{
	border: 1px solid #999;
  padding: 0.5rem;
  text-align:left;
}

main{
	width: *;
	height: 600px;
	background-color: #ffebee;


}
.submit{ 
background-color:#DA70D6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer{
width: *;
	height: 100px;
	background-color: #e1bee7;
}

footer h5{
	text-align: left;
	font-style: italic;
	text-align: left;
	font-size: 25px;
	color: #7b1fa2;
}